// Mixins

@mixin figure-image-styles {
    display: inline-block;
    clear: both;
    margin: var(--wp--style--block-gap) auto;

    &.align-left {
        float: left;
        margin: 0 var(--wp--style--block-gap) 0 0;
        margin-inline-start: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    }

    &.align-right {
        float: right;
        margin: 0 0 0 var(--wp--style--block-gap);
        margin-inline-end: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    }

    &.image-center,
    &.align-center {
        margin: var(--wp--style--block-gap) auto 0 auto;
        display: table;
    }

    &:first-child {
        margin-top: 0;
    }

    img {
        max-width: 100%;
        margin: 0;
        display: block;
        height: auto;
        box-shadow: none;

        &.image-center,
        &.image-left,
        &.image-right {
            margin: 0;
            clear: unset;
            float: unset;
        }
    }

    figcaption {
        background-color: var(--wp--preset--color--base-two);
        color: var(--wp--preset--color--contrast);
        font-size: var(--wp--preset--font-size--small);
        margin-top: 0;
        padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
        line-height: 1.4;
    }
}


// These styles are used to cleanup the content that was imported from our older systems.

.classic-content-wrapper {

    h2,
    h3,
    h4,
    h5,
    h6 {
        clear: both;
    }

    .small,
    p.small,
    small {
        font-size: var(--wp--preset--font-size--small) !important;
    }

    img {
        margin-bottom: var(--wp--style--block-gap);

        &[style="float: left;"] {
            margin-right: var(--wp--style--block-gap);
        }

        &[style="float: right;"] {
            margin-left: var(--wp--style--block-gap);
        }
    }

    // Tables

    table {
        margin-bottom: var(--wp--style--block-gap);
        font-family: var(--wp--preset--font-family--trade-gothic);
        font-size: 0.9em;
        line-height: 1.2;
    }

    table tr td,
    table tr th {
        font-size: var(--wp--preset--font-size--small);
        padding: 0.75em;
        word-break: normal;
        overflow-wrap: break-word;
        white-space: normal;
    }

    table tr td p,
    table tr th p {
        margin: 0;
        font-size: var(--wp--preset--font-size--small);
    }

    table tr td {
        width: auto;
    }

    table tr td:first-of-type,
    table tr th:first-of-type {
        padding: 0.75em;
    }

    table td,
    table th {
        border: 1px solid var(--wp--preset--color--base-three);
    }

    table td {
        border-bottom: var(--wp--preset--color--base-three) 1px solid;
    }

    table tr.unclickable {
        background-color: #eee;
    }

    table {
        border-collapse: collapse;
    }

    table.data {
        width: 100%;
    }

    table.nobackground {
        border-collapse: collapse;
    }

    table.nobackground tr {
        background-color: #fff;
    }

    table.nobackground th {
        border-bottom: var(--wp--preset--color--base-three) 1px solid;
    }

    table.tableLessPadding tr td p,
    table.tableLessPadding tr th p {
        padding: 0.25em 0.5em;
    }

    table.social-media td {
        padding-right: 0;
    }

    table.social-media td:first-of-type {
        text-align: left;
    }

    table.social-media td:last-of-type {
        padding: 0;
    }

    table th {
        text-align: left;
    }

    table thead {
        border-bottom: var(--wp--preset--color--base-three) 1px solid;
        font-weight: 700;
    }

    table tbody.center,
    table td.center,
    table th.center,
    table thead.center,
    table tr.center {
        text-align: center;
        float: none;
    }

    table tbody.left,
    table td.left,
    table th.left,
    table thead.left,
    table tr.left {
        text-align: left;
        float: none;
    }

    table tbody.right,
    table td.right,
    table th.right,
    table thead.right,
    table tr.right {
        text-align: right;
        float: none;
    }

    table caption {
        background-color: var(--wp--preset--color--base-two);
        color: var(--wp--preset--color--contrast);
        margin-top: 0px;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 1rem var(--wp--preset--spacing--40) .6rem;

        &.caption-bottom {
            caption-side: bottom;
        }
    }

    table a {
        font-size: var(--wp--preset--font-size--small);
    }

    // Responsitable

    .page {
        .responsitable-wrapper {
            padding: 0 1rem;
        }
    }

    .responsitable-wrapper {
        margin-bottom: 2em;
        display: block;

        .responsitable-scroll-note {
            margin: 0 0 0.5em 0;
            display: block;
        }

        .responsitable {
            margin-bottom: 0;
        }
    }

    .hstripe tr:nth-child(2n+1),
    .vstripe td:nth-child(2n+1) {
        background-color: #eee;
        background: rgba(204, 204, 204, .25);
    }

    .ralign {
        text-align: right;
    }

    .calign {
        text-align: center;
    }

    .lalign {
        text-align: left;
    }

    .nostripe td,
    .nostripe th {
        background-color: #fff;
    }

    .nostripe tr {
        background-color: #fff;
    }

    /* conflicts with , needs !important flag */
    .vborder td,
    .vborder th,
    .vborder tr {
        /*  border-left:  3px solid var(--wp--preset--color--base-two) !important; */
        border-right: 1px solid var(--wp--preset--color--base-two) !important;
    }

    .vborder td,
    .vborder th {
        &:first-of-type {
            border-left: 1px solid var(--wp--preset--color--base-three) !important;
        }
    }

    .noborder tr.bar,
    tr.bar {
        border-bottom: 3px solid var(--wp--preset--color--base-three) !important;
    }

    .noborder td.bar,
    td.bar {
        border-right: 3px solid var(--wp--preset--color--base-three) !important;
    }

    /* noborder overrides everything */
    table.noborder {
        border: none !important;
    }

    .noborder td,
    table.noborder td,
    table.noborder tr,
    td.noborder,
    tr.noborder {
        border: none !important;
    }

    /* Make th cells darker */
    table.gheader {

        th,
        thead td {
            background: var(--wp--preset--color--contrast-two);
            color: var(--wp--preset--color--base);

            p {
                color: var(--wp--preset--color--base);
            }

            &[scope=row],
            [scope=rowgroup] {
                background: var(--wp--preset--color--base-three);
                color: var(--wp--preset--color--contrast-two);
            }
        }

        thead td:nth-child(2n+1) {
            background: var(--wp--preset--color--contrast-two);
        }

        &.vborder {

            th,
            thead td {
                border-right: 1px solid #474747 !important;

                &:first-of-type {
                    border-left: 1px solid #474747 !important;
                }

                &[scope=row],
                [scope=rowgroup] {
                    border-right: var(--wp--preset--color--contrast-two) !important;

                    &:first-of-type {
                        border-left: 1px solid var(--wp--preset--color--base-two) !important;
                    }
                }
            }
        }

        &.hborder {

            th,
            thead td {
                border-bottom: 1px solid #474747 !important;
                border-top: 1px solid #474747 !important;

                &[scope=row],
                [scope=rowgroup] {
                    border-bottom: 1px solid var(--wp--preset--color--base-three) !important;
                }
            }
        }
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .hide {
        display: none;
    }

    .block {
        display: block;
    }

    .inline-block {
        display: inline-block;
    }

    .inline {
        display: inline;
    }

    .left {
        float: left;
        margin: 0 var(--wp--style--block-gap) var(--wp--style--block-gap) 0;
        clear: both;
        display: block;
    }

    .right {
        float: right;
        margin: 0 0 var(--wp--style--block-gap) var(--wp--style--block-gap);
        clear: both;
        display: block;
    }

    .clear {
        clear: both;
    }

    .clearleft {
        clear: left;
    }

    .clearright {
        clear: right;
    }

    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nobr {
        white-space: nowrap;
    }

    .hightlight {
        background-color: #FF0;
    }

    .corners {
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
    }

    .nobkgd {
        background: #fff !important;
    }

    .reference {
        padding-left: 40px;
        text-indent: -40px;
    }

    // Image classes

    img {

        height: auto;
        margin: var(--wp--style--block-gap) auto 0 auto;
        max-width: 100%;

        &.image-left {
            float: left;
            clear: both;
            display: block;
            margin: 0 var(--wp--style--block-gap) 0 0;
        }

        &.image-right {
            float: right;
            clear: both;
            display: block;
            margin: 0 0 0 var(--wp--style--block-gap);
        }

        &.image-center {
            display: block;
            margin: 0 auto;
        }

        &:first-child {
            margin-top: 0;
        }

    }

    figure.image,
    figure {
        @include figure-image-styles;
    }

    // Clear line
    // Class for div that clears floats. 
    // Invisible on front end, but has dotted line around it in TinyMCE

    .clear-box {
        display: block;
        width: 100%;
        clear: both;
    }

    figure.image,
    figure {

        &.image-center,
        &.align-center {
            display: table;
        }
    }

}

figure.image:not(.wp-block-image) {
    @include figure-image-styles;
}

figure.image:not(.wp-block-image):not(.align-left):not(.align-right):not(.align-center) {
    img {
        width: 100%;
    }
}

figure.image:not(.wp-block-image) {

    &.image-center,
    &.align-center {
        display: table;
    }
}

// Stories
.single-post {
    .entry-content {
        &>.align-right:first-child {
            float: unset;
            max-width: var(--wp--style--global--wide-size);
            margin: 0 auto !important;
            margin-inline-end: unset;
            margin-inline-start: unset;
            margin-left: auto !important;

            img {
                width: 100%;
            }
        }
    }
}

// Publications

.single-publications {

    p.authors {
        display: none;
    }

    .entry-content {
        clear: both;

        figure:not(.wp-block-embed):not(.wp-block-image):not(.align-right):not(.align-left):not(.alignleft):not(.alignright) {
            max-width: 600px;
            margin: 0 auto;
            display: table;

            img {
                width: 100%;
            }
        }
    }
}

// Mobile

@media (max-width: 600px) {
    .single-publications {
        .entry-content {
            figure:not(.wp-block-embed):not(.wp-block-image):not(.align-right):not(.align-left):not(.alignleft):not(.alignright) {
                max-width: 100% !important;
            }
        }
    }
}