// These styles are used to cleanup the content that was imported from our older systems.


// All of these changes apply to just this div, where the content is imported
.wp-block-post-content {

    // all the img classes to keep track of
    // figure.image,
    // figure.center,
    // figure.align-right,
    // figure.align-left,
    // img.image-left,
    // img.image-right,
    // img.image-center,
    // div.left img.image-left,
    // div.right img.image-right,
    // figure:not([class])

    // IMAGES
    
    figure:not([class^="wp-"]):has(img) {
        display: flex;
        flex-direction: column;
        max-width: var(--wp--style--global--content-size);

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        figcaption {
            display: table-caption;
            caption-side: bottom;
            background-color: var(--wp--preset--color--base-two);
            color: var(--wp--preset--color--contrast);
            font-size: var(--wp--preset--font-size--small);
            margin-top: 0px;
            padding-top: var(--wp--preset--spacing--30);
            padding-right: var(--wp--preset--spacing--40);
            padding-bottom: var(--wp--preset--spacing--30);
            padding-left: var(--wp--preset--spacing--40);
        }
    }

    figure.align-left,
    figure:has(img.image-left),
    img.image-left:not(:where(figure > img)) {
        float: left;
        margin-inline-end: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
        margin-inline-start: 2em;
    }

    figure.align-right,
    figure:has(img.image-right),
    img.image-right:not(:where(figure > img)) {
        float: right;
        margin-inline-start: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
        margin-inline-end: 2em;
    }

    // First image in stories

    .single-post .entry-content > image.align-right:first-child {
        max-width: var(--wp--style--global--content-size);
        height: auto;
        float: none !important;
    }

    // IMAGES

    // figure:not([class^="wp-"]) {

    //     img {
    //         display: block;
    //         max-width: 100%;
    //         height: auto;
    //     }

    //     figcaption {
    //         caption-side: bottom;
    //         background-color: var(--wp--preset--color--base-two);
    //         color: var(--wp--preset--color--contrast);
    //         font-size: var(--wp--preset--font-size--small);
    //         margin-top: 0px;
    //         padding-top: var(--wp--preset--spacing--30);
    //         padding-right: var(--wp--preset--spacing--40);
    //         padding-bottom: var(--wp--preset--spacing--30);
    //         padding-left: var(--wp--preset--spacing--40);
    //     }
    // }

    // figure:not([class*="wp-"]) img:not([width]),
    // img:not([width]):not(:where(figure img)) {
    //     max-width: 100%;
    //     height: auto;
    // }

    // figure.caes-hub-figure-right {
    //     float: right;
    //     margin-left: var(--wp--style--block-gap) !important;
    //     margin-bottom: var(--wp--style--block-gap) !important;
    //     // margin-inline-end: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    // }

    // figure.caes-hub-figure-left {
    //     float: left;
    //     margin-right: var(--wp--style--block-gap) !important;
    //     margin-bottom: var(--wp--style--block-gap) !important;
    //     // margin-inline-start: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    // }

    // @container caespost (max-width: 840px) {
    //     figure.caes-hub-figure-left {
    //         margin-inline-end: 0;
    //     }

    //     figure.caes-hub-figure-left {
    //         margin-inline-start: 0;
    //     }
    // }

    // // If a <div> is wrapped around an image with .image-right or .image-left with left or right class

    // div.right {
    //     // float: right;
    //     margin-inline-start: 2em;
    //     margin-inline-end: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    //     clear: both;
    //     display: table;

    //     img.image-right {
    //         float: none;
    //         margin-inline-end: unset;
    //     }
    // }

    // div.left {
    //     // float: left;
    //     margin-inline-end: 2em;
    //     margin-inline-start: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    //     clear: both;
    //     display: table;

    //     img.image-left {
    //         float: none;
    //         margin-inline-start: unset;
    //     }
    // }

    // SEPARATOR / <hr>

    hr:not(.wp-block-separator) {
        border: 0;
        border-top: 1px solid var(--wp--preset--color--base-three);
    }

    // TABLES

    table.hstripe tr:nth-child(odd),
    table.vstripe td:nth-child(odd) {
        background-color: var(--wp--preset--color--base-two);
    }

    table:not(.wp-block-table table) {
        // border: 1px solid var(--wp--preset--color--base-two);
        border-collapse: collapse;

        thead,
        tbody {

            td,
            th {
                min-width: 110px;
                border: 1px solid var(--wp--preset--color--base-three);
                padding: var(--wp--preset--spacing--20);
                line-height: 1.5;
                vertical-align: baseline;
            }
        }

        thead {
            font-weight: bold;
        }
    }

}