/* Styles for form inputs NOT made by the Gutenberg search block */

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

label, fieldset {
    font-weight: 600;
}

.caes-hub-form__input,
.caes-hub-form__textarea,
.caes-hub-form__button {
    padding: var(--wp--preset--spacing--40);
    font-family: var(--wp-preset-font-family-merriweather);
    line-height: 1;
    font-size: 1rem;
}

.caes-hub-form__input {
    border: 2px solid var(--wp--preset--color--contrast-two);
    border-radius: 20rem;
}

.caes-hub-form__textarea {
    border: 2px solid var(--wp--preset--color--contrast-two);
    border-radius: var(--wp--preset--spacing--40);
}

.caes-hub-form__button {
    background-color: var(--wp--preset--color--bulldog-red);
    border: 4px solid var(--wp--preset--color--bulldog-red);
    color: var(--wp--preset--color--base);
}

.caes-hub-form__input-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .caes-hub-form__input,
    .caes-hub-form__button {
        margin: 0;
    }

    .caes-hub-form__input {
        border-right: 0;
        border-radius: 20rem 0 0 20rem;
    }

    .caes-hub-form__button {
        padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--40) var(--wp--preset--spacing--40) var(--wp--preset--spacing--30);
        border-radius: 0 20rem 20rem 0;
    }

}

// Mailchimp overrides

.mc4wp-form-fields {
    input {
        padding: 0.3rem 0.5rem;
    }
}

.mc4wp-notice {
    color: #357da0;
}

.mc4wp-alert {
    color: #8e713e;
}