// Styles SPECIFICALLY FOR THIS THEME relating to the Hand Picked Post Block

.featured-hand-picked-post {
    background-color: var(--wp--preset--color--base);
    box-shadow: var(--wp--preset--shadow--small);
    position: relative;
    transition: box-shadow 0.3s ease-in-out;

    figure {
        overflow: hidden;

        img {
            transition: transform 0.3s ease-in-out;
        }
    }

    .featured-hand-picked-post-title a {
        color: inherit;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    .featured-hand-picked-post-content {
        .featured-hand-picked-post-subheader {
            margin-left: calc(-1* var(--wp--preset--spacing--70));
            display: inline;
            padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--70);
        }

        .featured-hand-picked-post-read-more {
            @include arrow-link();
        }
    }

    &:hover,
    &:focus-within {
        box-shadow: var(--wp--preset--shadow--small-dark);

        figure {
            img {
                transform: scale(1.1);
            }
        }

        .featured-hand-picked-post-content {
            .featured-hand-picked-post-read-more {
                @include arrow-link-hover();
            }
        }

    }
}

@media screen and (max-width: 781px) {
    .featured-hand-picked-post-content {
        .featured-hand-picked-post-subheader {
            margin-left: 0 !important;
            padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40) !important;
            font-size: var(--wp--preset--font-size--normal) !important;
        }
    }
}

@media print {
    .featured-hand-picked-post {
        display: none !important;
    }
}