@mixin button-icon($url, $width, $height, $base-color, $hover-color, $spacing) {
    .wp-block-button__link {
        &::before {
            content: "";
            display: inline-block;
            width: $width;
            height: $height;
            background-color: $base-color;
            mask-image: url($url);
            mask-size: contain;
            mask-repeat: no-repeat;
            margin-right: $spacing;
        }
    }

    &:hover a::before {
        background-color: $hover-color;
    }
}

// Action button - has a background color, a white icon, and a label that appears on hover.

@mixin action-button($url, $icon-width, $icon-height, $base-color, $hover-color, $spacing, $button-width, $hover-width, $label-hover-width) {

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--wp--preset--font-family--merriweather);
    padding: var(--wp--preset--spacing--20);
    border-width: 0;
    border-radius: 20rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
    width: $button-width;
    justify-content: center;

    &::before {
        content: "";
        display: inline-block;
        width: $icon-width;
        height: $icon-height;
        background-color: $base-color;
        mask-image: url($url);
        mask-size: contain;
        mask-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
    }

    .label {
        display: inline-block;
        height: var(--wp--preset--font-size--normal);
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    &:hover,
    &:focus {
        background-color: $base-color;
        width: $hover-width;
        padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--20) var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);

        &::before {
            background-color: $hover-color;
        }

        .label {
            width: $label-hover-width;
            height: var(--wp--preset--font-size--normal);
            visibility: visible;
            opacity: 1;
            color: $hover-color;
            text-align: left;
            margin-left: 7px;
            position: unset;
        }
    }

}

// Arrow link - has bold font, a red arrow to the right
@mixin arrow-link() {
    // font-weight: 600;
    padding-right: var(--wp--preset--spacing--60) !important;
    &::after {
        content: "❯❯❯";
        color: var(--wp--preset--color--bulldog-red);
        display: inline-block;
        width: 28px;
        height: 18px;
        margin-left: 5px;
        transition: margin-left 0.2s ease-in-out;
        position: absolute;
    }
}

// Arrow link hover/focus... yes, it's applied separately from the above mixin,
// because sometimes it does not need to always change on hovering the link itself,
// but a hover over a parent element. - AW 02/07/2025
@mixin arrow-link-hover() {
    &::after {
        margin-left: 8px;
    }
}