/* Overrides that are needed for the PHP Shorthand template. */

.caes-hub-shorthand {
    margin-block-end: calc(-1 * var(--wp--preset--spacing--50));
    @media (min-width: 781px) {
        .BackgroundScrollmation[data-attach="during"],
        .Scrollpoints__media[data-attach="during"]
        {
            left: 222px;
            width: calc(100% - 222px);
        }
        .Theme-OverlayedCaption {
            left: 222px;
            width: 100%;
        }
    }

    // Stuff to hide from their templates
    header.ugaheader,
    footer.ugafooter,
    .Header .Theme-Logos,
    #StandardFooter {
        display: none;
    }


}