.wp-block-caes-hub-person-areas-of-expertise {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--40);

    .person-areas-of-expertise__terms {
        display: flex;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--30);
    }

    .person-expertise-term {
        display: inline-block;
        border-radius: 50rem;
        padding: 0 var(--wp--preset--spacing--40);
        font-size: 1.3rem;
        text-decoration: none;
    }
}
