.wp-block-caes-hub-person-areas-of-expertise {
    display: flex;
    flex-direction: column;
    gap: var(--wp--style--block-gap, var(--wp--preset--spacing--40));

    .person-areas-of-expertise__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .person-areas-of-expertise__terms {
        display: flex;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--30);
    }

    .person-expertise-term {
        display: inline-block;
        border-radius: 50rem;
        padding: 0 var(--wp--preset--spacing--40);
        font-size: 1.3rem;
        text-decoration: none;
    }
}
