/* Custom Block Styles (is-style-*) */

// Adds red border and additional styles to button
.is-style-caes-hub-red-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--wp--preset--color--bulldog-red);
    border-radius: 20rem;
    line-height: 1rem;
    transition: all 0.1s ease-in-out;
    background-color: var(--wp--preset--color--base);

    .wp-block-button__link {
        transition: all 0.1s ease-in-out;
    }

    &:hover {
        background-color: var(--wp--preset--color--bulldog-red);

        .wp-block-button__link {
            color: var(--wp--preset--color--base);
        }
    }
}

// Adds black border and additional styles to button
.is-style-caes-hub-black-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--wp--preset--color--contrast-two);
    border-radius: 20rem;
    line-height: 1rem;
    transition: all 0.1s ease-in-out;

    .wp-block-button__link {
        transition: all 0.1s ease-in-out;
    }

    &:hover {
        background-color: var(--wp--preset--color--contrast-two);

        .wp-block-button__link {
            color: var(--wp--preset--color--base);
        }
    }
}

// Remove unordered list's bullets
ul.is-style-caes-hub-list-none {
    padding-inline-start: 0;
    list-style: none;
}

// Add bell icon before button text
.is-style-caes-hub-bell {
    @include button-icon('../images/bell.svg', 9.32px, 10.578px, var(--wp--preset--color--bulldog-red), var(--wp--preset--color--base), 5px);
}

// Specific styling for headings above sections

.is-style-caes-hub-section-heading {
    font-family: var(--wp--preset--font-family--oswald);
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::after {
        content: "";
        border-top: 1px solid var(--wp--preset--color--contrast-two);
        margin: 0 0 0 10px;
        flex: 1 0 20px;
    }
}

// Another heading style that adds a full width underline
.is-style-caes-hub-full-underline {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--wp--preset--color--base-three);
    }
}

.is-style-caes-hub-partial-underline {
    width: 100px;
    margin-left: 0 !important;
}

// Just for quote blocks

.is-style-caes-hub-red-smart-quote {
    position: relative;
    padding-left: 4.5rem;

    &::before {
        content: '“';
        font-size: 5.5rem;
        font-family: var(--wp--preset--font-family--georgia);
        font-style: italic;
        line-height: 6rem;
        color: var(--wp--preset--color--bulldog-red);
        height: 44px;
        width: 52px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.is-style-caes-hub-arrow {
    a {
        @include arrow-link();

        &:hover,
        &:focus {
            @include arrow-link-hover();
        }
    }
}