/* Custom Block Styles (is-style-*) */

// Adds red border and additional styles to button
.is-style-caes-hub-red-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--wp--preset--color--bulldog-red);
    border-radius: 20rem;
    line-height: 1rem;
    transition: all 0.1s ease-in-out;
    background-color: var(--wp--preset--color--base);

    .wp-block-button__link {
        transition: all 0.1s ease-in-out;
    }

    &:hover {
        background-color: var(--wp--preset--color--bulldog-red);

        .wp-block-button__link {
            color: var(--wp--preset--color--base);
        }
    }
}

// Adds black border and additional styles to button
.is-style-caes-hub-black-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--wp--preset--color--contrast-two);
    border-radius: 20rem;
    line-height: 1rem;
    transition: all 0.1s ease-in-out;

    .wp-block-button__link {
        transition: all 0.1s ease-in-out;
    }

    &:hover {
        background-color: var(--wp--preset--color--contrast-two);

        .wp-block-button__link {
            color: var(--wp--preset--color--base);
        }
    }
}

// Remove unordered list's bullets
ul.is-style-caes-hub-list-none {
    padding-inline-start: 0;
    list-style: none;

    ul {
        list-style: none;
        list-style: none;
        margin: var(--wp--preset--spacing--20) 0;
    }
}

// Use checkbox for ul
ul.is-style-caes-hub-list-checkbox {
    padding: 0;
    list-style: none;

    li {
        position: relative;
        padding-left: 1.75em; // Space for checkbox + gap
        
        &::before {
            content: "☐";
            font-size: var(--wp--preset--font-size--large);
            line-height: 1;
            position: absolute;
            left: 0;
            top: -0.1rem;
        }

        > ol,
        > ul {
            padding-left: 0;
            list-style: none;
        }
    }
}

// Add bell icon before button text
.is-style-caes-hub-bell {
    @include button-icon('../images/bell.svg', 9.32px, 10.578px, var(--wp--preset--color--bulldog-red), var(--wp--preset--color--base), 5px);
}

// Specific styling for headings above sections

.is-style-caes-hub-section-heading {
    font-family: var(--wp--preset--font-family--oswald);
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;

    &::after {
        content: "";
        border-top: 1px solid var(--wp--preset--color--contrast-two);
        margin: 0 0 0 10px;
        flex: 1 0 20px;
    }

    // Post terms blocks use inline flex for prefix + links.
    // flex-wrap lets the text flow naturally while ::after fills the remainder.
    &.wp-block-post-terms {
        flex-wrap: wrap;
    }
}

@container (max-width: 440px) {
    .is-style-caes-hub-section-heading {
        flex-direction: column;
        &::after {
            margin: 1rem 0 0 0;
        }
    }
}

.has-hedges-background-color .is-style-caes-hub-section-heading {
    &::after {
        border-top-color: var(--wp--preset--color--contrast);
    }
}

.has-olympic-background-color,
.has-bulldog-red-background-color,
.has-contrast-background-color {
    .is-style-caes-hub-section-heading {
        &::after {
            border-top: 1px solid rgba(255, 255, 255, 0.8);
        }
    }
}

@media print {

    .has-olympic-background-color,
    .has-bulldog-red-background-color,
    .has-contrast-background-color {
        background-color: transparent !important;
    }

    .is-style-caes-hub-section-heading {
        &::after {
            border-top: 1px solid var(--wp--preset--color--contrast-two) !important;
        }
    }
}

// Another heading style that adds a full width underline
.is-style-caes-hub-full-underline {
    border-bottom: 1px solid var(--wp--preset--color--base-three);
    padding-bottom: 0.2rem;
    // display: flex;
}

.is-style-caes-hub-partial-underline {
    width: 100px;
    margin-left: 0 !important;
}

.is-style-caes-hub-partial-thick-underline {
    border-width: 4px !important;
    margin-left: 0 !important;
    width: 100px;
}

.is-style-caes-hub-contrast-underline-thick {
    border-color: var(--wp--preset--color--contrast) !important;
    border-width: 2px !important;
}

// Just for quote blocks

.is-style-caes-hub-red-smart-quote {
    position: relative;
    padding-left: 4.5rem;

    &::before {
        content: '“';
        font-size: 5.5rem;
        font-family: var(--wp--preset--font-family--georgia);
        font-style: italic;
        line-height: 6rem;
        color: var(--wp--preset--color--bulldog-red);
        height: 44px;
        width: 52px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.is-style-caes-hub-arrow {
    a {
        @include arrow-link();

        &:hover,
        &:focus {
            @include arrow-link-hover();
        }
    }
}

// TABLES

.is-style-caes-hub-hstripe {
    tbody tr:nth-child(2n+1) {
        background-color: #eee;
        background: rgba(204, 204, 204, .25);
    }
}

.is-style-caes-hub-vstripe {

    td,
    th {
        border-color: #0000;
    }

    tbody td:nth-child(2n+1) {
        background-color: var(--wp--preset--color--base-two);
        background: var(--wp--preset--color--base-three);
    }
}

.is-style-caes-hub-vstripe-border {
    tbody td:nth-child(2n+1) {
        background-color: var(--wp--preset--color--base-two);
        background: var(--wp--preset--color--base-three);
    }
}

// GROUPS

.is-style-caes-hub-olympic-accent-border {
    border-left: 5px solid var(--wp--preset--color--olympic);
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
}

@media print {
    .wp-block-group.has-background:not(.has-base-background-color) {
        padding: 0 !important;
    }
}

// Custom alignments for group blocks, since Gutenberg doesn't support this natively
.is-style-caes-hub-align-left-40 {
    float: left;
    max-width: calc(var(--wp--style--global--content-size) * 0.4) !important;
    margin-right: var(--wp--style--block-gap) !important;
    margin-left: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70)) !important;
    margin-inline-start: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    width: 100%;
}

.is-style-caes-hub-align-right-40 {
    float: right;
    max-width: calc(var(--wp--style--global--content-size) * 0.4) !important;
    margin-left: var(--wp--style--block-gap) !important;
    margin-right: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70)) !important;
    margin-inline-end: calc((100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
    width: 100%;
}

.is-style-caes-hub-step {
    position: relative;
    overflow: hidden;
    padding-right: 60px;
}

.is-style-caes-hub-step::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64.237 150.678' preserveAspectRatio='none'%3E%3Cpath d='M10 150.678l54.238-75.339L10 0H0l54.238 75.339L0 150.678z' fill='%23fff' style='isolation:isolate'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center right;
}

@media screen and (max-width: 781px) {
    .is-style-caes-hub-step::after {
        display: none;
    }
}

// POST TERMS

@media print {
    .wp-block-post-terms.has-background {
        padding: 0 !important;
    }
}

// Font stuff

.is-style-caes-hub-oswald-uppercase {
    font-family: var(--wp--preset--font-family--oswald);
    font-weight: 500;
    text-transform: uppercase;
}

.is-style-caes-hub-merriweather-sans-uppercase {
    font-family: var(--wp--preset--font-family--merriweather-sans);
    font-weight: 400;
    text-transform: uppercase;
    border-left: 3px solid var(--wp--preset--color--bulldog-red);
    line-height: 1;
    padding-left: var(--wp--preset--spacing--20);
}

// PARAGRAPHS

.is-style-caes-hub-hanging-indent {
    padding-left: 40px;
    text-indent: -40px;
}

.is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)).is-style-caes-hub-hanging-indent {
    max-width: calc(var(--wp--style--global--content-size) - 40px) !important;
}