.page-numbers,
.wp-block-query-pagination-next,
.wp-block-query-pagination-previous,
.post-nav-links .post-page-numbers {
    padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--30);
    background: var(--wp--preset--color--base);
    line-height: 1;
    border-radius: var(--wp--preset--spacing--20);
    border: 1px solid var(--wp--preset--color--bulldog-red);
    color: inherit;
    text-decoration: none;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

    // hover when not current
    &:not(.current):not(.dots):hover {
        background: var(--wp--preset--color--bulldog-red);
        color: var(--wp--preset--color--base);
    }

    &.dots {
        border: none;
        background-color: transparent;
    }

    &.current {
        border: none;
        background-color: transparent;
        font-weight: bold;
    }
}

.post-nav-links {
    margin: var(--wp--preset--spacing--60) 0;

    a:first-child {
        margin-left: var(--wp--preset--spacing--20);
    }
    .post-page-numbers {
        padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--40);
        background: var(--wp--preset--color--olympic);
        border: 1px solid var(--wp--preset--color--olympic);
        color: var(--wp--preset--color--base);
        margin-right: var(--wp--preset--spacing--20);
        &:not(.current):not(.dots):hover {
            background: var(--wp--preset--color--base);
            border: 1px solid var(--wp--preset--color--olympic);
            color: var(--wp--preset--color--contrast);
        }
        &.current {
            color: var(--wp--preset--color--contrast);
        }
    }
}