// Table styling fixes
.wp-block-table {

    table caption {
        background-color: var(--wp--preset--color--base-two);
        font-family: var(--wp--preset--font-family--oswald);
        font-size: 1.4rem;
        padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40) 0.3rem var(--wp--preset--spacing--40);
        
        &.caption-bottom {
            caption-side: bottom;
        }
    }

    // .responsitable-wrapper {
    td {
        vertical-align: baseline;
    }
}


.wp-block-table {
    // .responsitable-wrapper {
    max-width: 100%;
    overflow-y: auto;

    table {
        table-layout: auto !important;
    }

    td,
    th {
        overflow-wrap: normal !important;
        word-break: normal !important;
    }
}

.responsitable-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1.5rem;
}

.responsitable-wrapper table {
    width: 100%;
}

.responsitable-scroll::before {
    content: "(Scroll right for more)";
    display: block;
    font-style: italic;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}