// Table styling fixes
.wp-block-table {

    table caption {
        background-color: var(--wp--preset--color--base-two);
        color: var(--wp--preset--color--contrast);
        font-size: var(--wp--preset--font-size--small);
        margin-top: 0px;
        padding-top: var(--wp--preset--spacing--30);
        padding-right: var(--wp--preset--spacing--40);
        padding-bottom: var(--wp--preset--spacing--30);
        padding-left: var(--wp--preset--spacing--40);

        &.caption-bottom {
            caption-side: bottom;
        }
    }

    // .responsitable-wrapper {
    td {
        vertical-align: baseline;
    }
}


.wp-block-table {
    // .responsitable-wrapper {
    max-width: 100%;
    overflow-y: auto;

    table {
        table-layout: auto !important;
    }

    td,
    th {
        overflow-wrap: normal !important;
        word-break: normal !important;
    }
}

.responsitable-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1.5rem;
}

.responsitable-wrapper table {
    width: 100%;
}

.responsitable-scroll::before {
    content: "(Scroll right for more)";
    display: block;
    font-style: italic;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}