.wp-block-caes-hub-pub-series-nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .pub-series-nav__arrow {
        font-size: 4rem;
        font-style: normal;
        line-height: 1;
        flex-shrink: 0;
    }

    .pub-series-nav__content {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .pub-series-nav__label {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.05em;
    }

    .pub-series-nav__link {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1227px) {
    .wp-block-caes-hub-pub-series-nav {
        max-width: 300px;
    }
}

@media print {
    .wp-block-caes-hub-pub-series-nav {
        display: none;
    }
}