.wp-block-caes-hub-person-courses {
    display: flex;
    flex-direction: column;
    gap: var(--wp--style--block-gap, var(--wp--preset--spacing--40));

    .person-courses__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .person-courses__list {
        margin-top: 0;
        margin-bottom: 0;
    }
}
