.wp-block-caes-hub-person-scholarly-works {
    display: flex;
    flex-direction: column;
    gap: var(--wp--style--block-gap, var(--wp--preset--spacing--40));

    .person-scholarly-works__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .person-scholarly-works__list {
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;

        li {
            padding: 0.75em 0;
            border-bottom: 1px solid var(--wp--preset--color--base-three);
            opacity: 1;

            &:first-child {
                border-top: 1px solid var(--wp--preset--color--base-three);
            }
        }
    }

.person-scholarly-works__full-list {
        margin-top: 0;
        margin-bottom: 0;
    }
}