<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"222px","className":"caes-hub-left","backgroundColor":"base"} -->
<div class="wp-block-column caes-hub-left has-base-background-color has-background" style="flex-basis:222px"><!-- wp:template-part {"slug":"sidebar","theme":"wp-theme-hub-2025","area":"uncategorized","className":"caes-hub-sidebar-wrapper"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"","className":"caes-hub-right has-background","backgroundColor":"base-two"} -->
<div class="wp-block-column caes-hub-right has-background has-base-two-background-color"><!-- wp:group {"metadata":{"name":"caes-hub-main-bg"},"align":"full","className":"caes-hub-main-bg caes-hub-main-bg-no-blur caes-hub-main-bg-short caes-hub-main-bg-lake-herrick-bg","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull caes-hub-main-bg caes-hub-main-bg-no-blur caes-hub-main-bg-short caes-hub-main-bg-lake-herrick-bg"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"caes-hub-main-wrapper"},"className":"caes-hub-main-wrapper","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group caes-hub-main-wrapper" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"textColor":"base","layout":{"type":"constrained","contentSize":"1400px"}} -->
<div class="wp-block-group has-base-color has-text-color has-link-color" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"90px","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="padding-top:90px;padding-bottom:0"><!-- wp:columns {"className":"caes-hub-post-list-grid caes-hub-profile-columns","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"blockGap":{"top":"0","left":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"shadow":"var:preset|shadow|large"},"backgroundColor":"olympic","textColor":"base"} -->
<div class="wp-block-columns caes-hub-post-list-grid caes-hub-profile-columns has-base-color has-olympic-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;box-shadow:var(--wp--preset--shadow--large)"><!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"blockGap":"var:preset|spacing|70","padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70);flex-basis:66.66%"><!-- wp:caes-hub/breadcrumbs {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}},"typography":{"lineHeight":"1.2"}},"fontSize":"small"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontFamily":"georgia","layout":{"type":"default"}} -->
<div class="wp-block-group has-georgia-font-family" style="font-style:italic;font-weight:400"><!-- wp:group {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="font-style:normal;font-weight:600"><!-- wp:caes-hub/user-name {"style":{"typography":{"fontSize":"3.4rem","lineHeight":"1.2"}}} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"className":"is-style-caes-hub-partial-underline"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-caes-hub-partial-underline"/>
<!-- /wp:separator -->

<!-- wp:caes-hub/user-position {"style":{"typography":{"lineHeight":"1.2"}},"fontSize":"medium"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:list {"className":"is-style-caes-hub-list-none","style":{"typography":{"lineHeight":"1"}},"fontFamily":"georgia"} -->
<ul style="line-height:1" class="wp-block-list is-style-caes-hub-list-none has-georgia-font-family"><!-- wp:list-item -->
<li><a href="https://cropsoil.uga.edu/">Crop &amp; Soil Sciences</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Center for Applied Genetic Technologies (CAGT)</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","style":{"spacing":{"blockGap":"0"}}} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:caes-hub/user-image {"aspectRatio":"3/4","fullHeight":true,"align":"center"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"style":{"typography":{"textTransform":"uppercase","lineHeight":"1.2"},"elements":{"link":{"color":{"text":"#333333"}}},"color":{"text":"#333333"},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|50"},"border":{"bottom":{"color":"var:preset|color|contrast-two","width":"3px"}}},"backgroundColor":"base","fontSize":"regular","fontFamily":"oswald","layout":{"type":"constrained","contentSize":"1000px"}} -->
<div class="wp-block-group has-base-background-color has-text-color has-background has-link-color has-oswald-font-family has-regular-font-size" style="border-bottom-color:var(--wp--preset--color--contrast-two);border-bottom-width:3px;color:#333333;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50);line-height:1.2;text-transform:uppercase"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Areas of expertise</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>About</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Education</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Awards and honors</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Courses</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Publications</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|60"}},"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"backgroundColor":"base","textColor":"contrast","layout":{"type":"constrained","contentSize":"1000px"}} -->
<div class="wp-block-group has-contrast-color has-base-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"className":"caes-hub-profile-columns"} -->
<div class="wp-block-columns caes-hub-profile-columns"><!-- wp:column {"width":"75%","style":{"spacing":{"blockGap":"var:preset|spacing|60"}}} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"className":"is-style-default","style":{"typography":{"fontStyle":"light","fontWeight":"300"}},"fontFamily":"oswald"} -->
<h1 class="wp-block-heading is-style-default has-oswald-font-family" style="font-style:light;font-weight:300">Areas of expertise</h1>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":"50rem"},"typography":{"fontSize":"1.3rem"}},"backgroundColor":"hedges","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-hedges-background-color has-background" style="border-radius:50rem;padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40);font-size:1.3rem"><!-- wp:paragraph -->
<p>Biochemistry</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":"50rem"},"typography":{"fontSize":"1.3rem"}},"backgroundColor":"hedges","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-hedges-background-color has-background" style="border-radius:50rem;padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40);font-size:1.3rem"><!-- wp:paragraph -->
<p>Cell biology</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":"50rem"},"typography":{"fontSize":"1.3rem"}},"backgroundColor":"hedges","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-hedges-background-color has-background" style="border-radius:50rem;padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40);font-size:1.3rem"><!-- wp:paragraph -->
<p>Plant biology</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":"50rem"},"typography":{"fontSize":"1.3rem"}},"backgroundColor":"hedges","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-hedges-background-color has-background" style="border-radius:50rem;padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40);font-size:1.3rem"><!-- wp:paragraph -->
<p>Genetics</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"className":"is-style-default","style":{"typography":{"fontStyle":"light","fontWeight":"300"}},"fontFamily":"oswald"} -->
<h1 class="wp-block-heading is-style-default has-oswald-font-family" style="font-style:light;font-weight:300">About</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Dr. Buell's research program focuses on the genome biology of plants and plant pathogens, including comparative genomics, bioinformatics, and computational biology.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>She has worked on the genomes of Arabidopsis, rice, potato, maize, switchgrass, sweetpotato, mints, and medicinal plants. With expertise in bioinformatics, one component of Dr. Buell's research is provision of databases and web-based data-mining tools for the greater scientific community.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"className":"is-style-default","style":{"typography":{"fontStyle":"light","fontWeight":"300"}},"fontFamily":"oswald"} -->
<h1 class="wp-block-heading is-style-default has-oswald-font-family" style="font-style:light;font-weight:300">Education</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong>Doctor of Philosophy, Biology/Biological Sciences, General</strong><br>Utah State University, UT, United States (1992)</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"className":"is-style-default","style":{"typography":{"fontStyle":"light","fontWeight":"300"}},"fontFamily":"oswald"} -->
<h1 class="wp-block-heading is-style-default has-oswald-font-family" style="font-style:light;font-weight:300">Awards and honors</h1>
<!-- /wp:heading -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>Award Title Goes Here, Institution Name Here (2023)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Award Title Goes Here, Institution Name Here 2 (2021)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Award Title Goes Here, Institution Name Here 3 (2017)</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"className":"is-style-default","style":{"typography":{"fontStyle":"light","fontWeight":"300"}},"fontFamily":"oswald"} -->
<h1 class="wp-block-heading is-style-default has-oswald-font-family" style="font-style:light;font-weight:300">Courses</h1>
<!-- /wp:heading -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>CRSS 5200: Advanced Soil Microbiology</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>CRSS 5500: Crop Breeding and Genetics</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"className":"is-style-default","style":{"typography":{"fontStyle":"light","fontWeight":"300"}},"fontFamily":"oswald"} -->
<h1 class="wp-block-heading is-style-default has-oswald-font-family" style="font-style:light;font-weight:300">Publications</h1>
<!-- /wp:heading -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li><strong>Single Cell Multi-Omics Reveals Rare Biosynthetic Cell Types in the Medicinal Tree Camptotheca acuminata.</strong><br>Bui V-H, Wood JC, Vaillancourt B, et al. (2025). Plant Biotechnology Journal.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Discovery of iridoid cyclase completes the iridoid pathway in asterids.</strong><br>Colinas M, Tymen C, Wood JC, et al. (2025). Nature Plants.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Genetic basis for broad interspecific compatibility in Solanum verrucosum.</strong><br>Behling W, Coombs J, Ranaweera T, et al. (2025). The Plant Journal, 123(4).</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Phased chromosome-level assembly provides insight into the genome architecture of hexaploid sweetpotato.</strong><br>Wu S, Sun H, Zhao X, et al. (2025). Nature Plants.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Enzymatic epimerization of monoterpene indole alkaloids in kratom.</strong><br>McDonald A, Nakamura Y, Schotte C, et al. (2025). Nature Chemical Biology.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"border":{"top":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"},"left":{"color":"var:preset|color|olympic","width":"5px"}},"shadow":"var:preset|shadow|small-dark"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-color:var(--wp--preset--color--olympic);border-left-width:5px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50);box-shadow:var(--wp--preset--shadow--small-dark)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"className":"is-style-default","style":{"typography":{"textTransform":"uppercase","fontStyle":"light","fontWeight":"700"}},"fontSize":"regular","fontFamily":"oswald"} -->
<h2 class="wp-block-heading is-style-default has-oswald-font-family has-regular-font-size" style="font-style:light;font-weight:700;text-transform:uppercase">Contact</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"},"typography":{"fontSize":"1rem"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="font-size:1rem"><!-- wp:caes-hub/user-email {"fontSize":"regular"} /-->

<!-- wp:caes-hub/user-phone {"fontSize":"regular"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"className":"is-style-default","style":{"typography":{"textTransform":"uppercase","fontStyle":"light","fontWeight":"700"}},"fontSize":"regular","fontFamily":"oswald"} -->
<h2 class="wp-block-heading is-style-default has-oswald-font-family has-regular-font-size" style="font-style:light;font-weight:700;text-transform:uppercase">Mailing Address</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"1rem"}}} -->
<p style="font-size:1rem">111 Riverbend Road<br>Center for Applied Genetic Technologies, Room 249<br>Athens, GA 30602</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"className":"is-style-default","style":{"typography":{"textTransform":"uppercase","fontStyle":"light","fontWeight":"700"}},"fontSize":"regular","fontFamily":"oswald"} -->
<h2 class="wp-block-heading is-style-default has-oswald-font-family has-regular-font-size" style="font-style:light;font-weight:700;text-transform:uppercase">Mailing Address</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"1rem"}}} -->
<p style="font-size:1rem"><a href="#">Visit the Buell Lab website</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"caes-hub-content-footer"},"className":"caes-hub-content-footer","style":{"spacing":{"blockGap":"var:preset|spacing|70","padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"1400px"}} -->
<div class="wp-block-group caes-hub-content-footer" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="padding-right:0;padding-left:0"><!-- wp:spacer {"height":"10px"} -->
<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":2,"query":{"postType":"post","perPage":6,"offset":0},"namespace":"stories-feed","className":"caes-hub-post-list-grid"} -->
<div class="wp-block-query caes-hub-post-list-grid"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"24rem"}} -->
<!-- wp:group {"metadata":{"name":"caes-hub-post-list-grid-item"},"className":"caes-hub-post-list-grid-item","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group caes-hub-post-list-grid-item"><!-- wp:post-featured-image {"aspectRatio":"3/2","metadata":{"name":"caes-hub-post-list-img-container"},"className":"caes-hub-post-list-img-container"} /-->

<!-- wp:group {"metadata":{"name":"caes-hub-post-list-grid-info"},"className":"caes-hub-post-list-grid-info","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"base","layout":{"type":"flex","orientation":"vertical","justifyContent":"left","verticalAlignment":"space-between"}} -->
<div class="wp-block-group caes-hub-post-list-grid-info has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"},"typography":{"fontSize":"1.1rem","lineHeight":"1"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="font-size:1.1rem;line-height:1"><!-- wp:caes-hub/primary-topic {"showCategoryIcon":true,"enableLinks":false,"name":"caes-hub/primary-topic","mode":"preview","className":"is-style-caes-hub-oswald-uppercase"} /-->

<!-- wp:post-date {"format":"M j, Y","style":{"typography":{"fontStyle":"light","fontWeight":"300","textTransform":"uppercase"},"spacing":{"padding":{"left":"var:preset|spacing|30"}},"border":{"left":{"color":"var:preset|color|contrast","width":"1px"},"top":[],"right":[],"bottom":[]}},"fontFamily":"oswald"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"className":"caes-hub-post-list-grid-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","fontSize":"large"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"caes-hub-content-actions"},"className":"caes-hub-content-actions ","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group caes-hub-content-actions"><!-- wp:caes-hub/action-save /-->

<!-- wp:caes-hub/action-share /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"1px"} -->
<div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="padding-right:0;padding-left:0"><!-- wp:query {"queryId":10,"query":{"perPage":6,"pages":0,"offset":0,"postType":"publications","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":""},"namespace":"pubs-feed","metadata":{"name":"caes-hub-post-list-grid","categories":["story_feeds"],"patternName":"caes-hub/post-grid-1"},"align":"wide","className":"caes-hub-post-list-grid"} -->
<div class="wp-block-query alignwide caes-hub-post-list-grid"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"24rem"}} -->
<!-- wp:group {"metadata":{"name":"caes-hub-post-list-grid-item"},"className":"caes-hub-post-list-grid-item","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group caes-hub-post-list-grid-item"><!-- wp:post-featured-image {"aspectRatio":"3/2","metadata":{"name":"caes-hub-post-list-img-container"},"className":"caes-hub-post-list-img-container"} /-->

<!-- wp:group {"metadata":{"name":"caes-hub-post-list-grid-info"},"className":"caes-hub-post-list-grid-info","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"base","layout":{"type":"flex","orientation":"vertical","justifyContent":"left","verticalAlignment":"space-between"}} -->
<div class="wp-block-group caes-hub-post-list-grid-info has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"className":"caes-hub-post-list-grid-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:post-date {"format":"M j, Y","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-two"}}}},"textColor":"contrast-two","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"caes-hub-content-actions"},"className":"caes-hub-content-actions ","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group caes-hub-content-actions"><!-- wp:caes-hub/action-save /-->

<!-- wp:caes-hub/action-share /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"1px"} -->
<div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-theme-hub-2025"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->