<!-- wp:pattern {"slug":"caes-theme/immersive-cover"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem leo, faucibus ut lacus eget, venenatis feugiat diam. Maecenas lobortis ante eu finibus tempor. In quam nisl, rhoncus at dui eget, dignissim ultricies quam. Sed ac arcu sed nulla ornare varius. Sed egestas ultricies risus, ut varius mi dapibus dictum. Aliquam sed maximus lectus. Morbi eleifend dui eget mauris hendrerit, tincidunt eleifend nulla pretium.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"caes-theme/reveal-story"} /-->

<!-- wp:caes-hub/pub-details-authors {"displayVersion":"names-and-titles","type":"sources","grid":false,"className":"is-style-caes-hub-compact"} /-->

<!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem leo, faucibus ut lacus eget, venenatis feugiat diam. Maecenas lobortis ante eu finibus tempor. In quam nisl, rhoncus at dui eget, dignissim ultricies quam. Sed ac arcu sed nulla ornare varius. Sed egestas ultricies risus, ut varius mi dapibus dictum. Aliquam sed maximus lectus. Morbi eleifend dui eget mauris hendrerit, tincidunt eleifend nulla pretium.</p>
<!-- /wp:paragraph -->

<!-- wp:pattern {"slug":"caes-theme/immersive-pullquote"} /-->

<!-- wp:pattern {"slug":"caes-theme/motion-scroll-story"} /-->

<!-- wp:caes-hub/caes-gallery {"rows":[{"columns":3,"images":[]}]} /-->
