<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"222px","className":"caes-hub-left","backgroundColor":"base"} -->
<div class="wp-block-column caes-hub-left has-base-background-color has-background" style="flex-basis:222px"><!-- wp:template-part {"slug":"sidebar","theme":"wp-theme-hub-2025","area":"uncategorized","className":"caes-hub-sidebar-wrapper"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"","className":"caes-hub-right has-background","backgroundColor":"base-two"} -->
<div class="wp-block-column caes-hub-right has-background has-base-two-background-color"><!-- wp:group {"tagName":"main","metadata":{"name":"caes-hub-main-wrapper"},"className":"caes-hub-main-wrapper","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"gradient":"olympic-half-for-search","layout":{"type":"constrained","contentSize":"1400px"}} -->
<main class="wp-block-group caes-hub-main-wrapper has-olympic-half-for-search-gradient-background has-background" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"metadata":{"name":"caes-hub-content-footer"},"className":"caes-hub-content-footer","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"default"}} -->
<div class="wp-block-group caes-hub-content-footer"><!-- wp:caes-hub/relevanssi-search {"showPostTypeFilter":false,"showLanguageFilter":true,"postTypes":["publications"],"taxonomySlug":"topics","headingColor":"#FFFFFF","headingAlignment":"center","customHeading":"Search Expert Resources"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-theme-hub-2025"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->