<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns">
    <!-- wp:column {"width":"222px","className":"caes-hub-left","backgroundColor":"base"} -->
    <div class="wp-block-column caes-hub-left has-base-background-color has-background" style="flex-basis:222px">
        <!-- wp:template-part {"slug":"sidebar","theme":"wp-theme-hub-2025","area":"uncategorized","className":"caes-hub-sidebar-wrapper"} /-->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"","className":"caes-hub-right has-background","backgroundColor":"base-two"} -->
    <div class="wp-block-column caes-hub-right has-background has-base-two-background-color">
        <!-- wp:group {"tagName":"main","metadata":{"name":"caes-hub-main-wrapper"},"className":"caes-hub-main-wrapper","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"90%"}} -->
        <main class="wp-block-group caes-hub-main-wrapper" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
            <!-- wp:group {"metadata":{"name":"caes-hub-main-bg"},"align":"full","className":"caes-hub-main-bg","layout":{"type":"constrained"}} -->
            <div class="wp-block-group alignfull caes-hub-main-bg">
                <!-- wp:caes-hub/event-details-featured-image {"name":"caes-hub/event-details-featured-image","align":"full","mode":"preview","className":"caes-hub-main-bg-f-img"} /-->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"caes-hub-content"},"className":"caes-hub-content","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|80","left":"0","right":"0"}}},"backgroundColor":"base","layout":{"type":"default"}} -->
            <div class="wp-block-group caes-hub-content has-base-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:var(--wp--preset--spacing--80);padding-left:0">
                <!-- wp:group {"metadata":{"name":"caes-hub-content-f-img"},"className":"caes-hub-content-f-img","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
                <div class="wp-block-group caes-hub-content-f-img" style="margin-top:var(--wp--preset--spacing--60)">
                    <!-- wp:columns {"style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"backgroundColor":"olympic","textColor":"base"} -->
                    <div class="wp-block-columns has-base-color has-olympic-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                        <!-- wp:column {"verticalAlignment":"center","width":"50%","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|70","right":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|70"}}} -->
                        <div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--70);flex-basis:50%">
                            <!-- wp:caes-hub/content-brand {"version":"light","customWidth":"175px"} /-->

                            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                            <div class="wp-block-group">
                                <!-- wp:caes-hub/event-details-date-time {"dateAsSnippet":true,"name":"caes-hub/event-details-date-time","mode":"preview"} /-->

                                <!-- wp:post-title {"textAlign":"left","style":{"typography":{"lineHeight":"1.2"}}} /-->

                                <!-- wp:caes-hub/event-details-register {"name":"caes-hub/event-details-register","mode":"preview"} /-->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                            <div class="wp-block-group">
                                <!-- wp:caes-hub/event-details-location {"locationAsSnippet":true,"name":"caes-hub/event-details-location","mode":"preview"} /-->

                                <!-- wp:caes-hub/event-details-online-location {"onlineAsSnippet":true} /-->
                            </div>
                            <!-- /wp:group -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column {"width":"50%"} -->
                        <div class="wp-block-column" style="flex-basis:50%">
                            <!-- wp:caes-hub/event-details-featured-image {"name":"caes-hub/event-details-featured-image","mode":"preview"} /-->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"metadata":{"name":"caes-hub-content-post"},"className":"caes-hub-content-post","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
                <div class="wp-block-group caes-hub-content-post" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
                    <!-- wp:group {"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:group {"metadata":{"name":"caes-hub-content-actions"},"className":"caes-hub-content-actions caes-hub-content-actions-in-body","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
                        <div class="wp-block-group caes-hub-content-actions caes-hub-content-actions-in-body">
                            <!-- wp:caes-hub/action-save /-->

                            <!-- wp:caes-hub/action-share /-->

                            <!-- wp:caes-hub/action-ics /-->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:caes-hub/event-details-description /-->

                        <!-- wp:spacer {"height":"10px"} -->
                        <div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
                        <!-- /wp:spacer -->

                        <!-- wp:heading {"className":"is-style-caes-hub-full-underline","fontSize":"x-large"} -->
                        <h2 class="wp-block-heading is-style-caes-hub-full-underline has-x-large-font-size">Details</h2>
                        <!-- /wp:heading -->

                        <!-- wp:group {"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"12rem"}} -->
                        <div class="wp-block-group">
                            <!-- wp:caes-hub/event-details-date-time {"showTime":true,"name":"caes-hub/event-details-date-time","mode":"preview"} /-->

                            <!-- wp:caes-hub/event-details-location {"name":"caes-hub/event-details-location","mode":"preview"} /-->

                            <!-- wp:caes-hub/event-details-online-location {"name":"caes-hub/event-details-online-location","mode":"preview"} /-->

                            <!-- wp:caes-hub/event-details-cost {"name":"caes-hub/event-details-cost","mode":"preview"} /-->

                            <!-- wp:caes-hub/event-details-parking {"name":"caes-hub/event-details-parking","mode":"preview"} /-->

                            <!-- wp:caes-hub/event-details-documents {"name":"caes-hub/event-details-documents","mode":"preview"} /-->

                            <!-- wp:caes-hub/event-details-contact {"name":"caes-hub/event-details-contact","mode":"preview"} /-->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:spacer {"height":"10px"} -->
                        <div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
                        <!-- /wp:spacer -->

                        <!-- wp:heading {"className":"is-style-caes-hub-full-underline","fontSize":"large"} -->
                        <h2 class="wp-block-heading is-style-caes-hub-full-underline has-large-font-size">Accessibility and Accommodation</h2>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph -->
                        <p>University of Georgia is an Equal Opportunity, Affirmative Action, Veteran, Disability Institution. If you need a reasonable accommodation or language access services, reach out using the contact information provided on this page, at least three weeks prior to the program date.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"caes-hub-content-footer"},"className":"caes-hub-content-footer","layout":{"type":"default"}} -->
            <div class="wp-block-group caes-hub-content-footer">
                <!-- wp:pattern {"slug":"caes-hub/event-grid-1"} /-->
            </div>
            <!-- /wp:group -->

            
        </main>
        <!-- /wp:group -->

        <!-- wp:template-part {"slug":"footer","theme":"wp-theme-hub-2025"} /-->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->