<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns">
    <!-- wp:column {"width":"222px","className":"caes-hub-left","backgroundColor":"base"} -->
    <div class="wp-block-column caes-hub-left has-base-background-color has-background" style="flex-basis:222px">
        <!-- wp:template-part {"slug":"sidebar","theme":"wp-theme-hub-2025","area":"uncategorized","className":"caes-hub-sidebar-wrapper"} /-->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"","className":"caes-hub-right has-background","backgroundColor":"base-two"} -->
    <div class="wp-block-column caes-hub-right has-background has-base-two-background-color">
        <!-- wp:group {"tagName":"main","metadata":{"name":"caes-hub-main-wrapper"},"className":"caes-hub-main-wrapper","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"90%"}} -->
        <main class="wp-block-group caes-hub-main-wrapper" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
            <!-- wp:group {"metadata":{"name":"caes-hub-main-bg"},"align":"full","className":"caes-hub-main-bg","layout":{"type":"constrained"}} -->
            <div class="wp-block-group alignfull caes-hub-main-bg">
                <!-- wp:post-featured-image {"metadata":{"name":"caes-hub-main-bg-f-img"},"align":"full","className":"caes-hub-main-bg-f-img"} /-->
            </div>
            <!-- /wp:group -->
            <!-- wp:group {"metadata":{"name":"caes-hub-content"},"className":"caes-hub-content","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|80","left":"0","right":"0"}}},"backgroundColor":"base","layout":{"type":"default"}} -->
            <div class="wp-block-group caes-hub-content has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--70);padding-right:0;padding-bottom:var(--wp--preset--spacing--80);padding-left:0">
                <!-- wp:group {"metadata":{"name":"caes-hub-content-meta-wrap"},"className":"caes-hub-content-meta-wrap","style":{"spacing":{"blockGap":"var:preset|spacing|60","padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"","wideSize":""}} -->
                <div class="wp-block-group caes-hub-content-meta-wrap" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
                    <!-- wp:group {"metadata":{"name":"caes-hub-content-meta"},"className":"caes-hub-content-meta","layout":{"type":"constrained"}} -->
                    <div class="wp-block-group caes-hub-content-meta">
                        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
                        <div class="wp-block-group">
                            <!-- wp:caes-hub/content-brand /-->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"metadata":{"name":"caes-hub-content-actions"},"className":"caes-hub-content-actions","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
                <div class="wp-block-group caes-hub-content-actions">
                    <!-- wp:caes-hub/action-save /-->

                    <!-- wp:caes-hub/action-share /-->

                    <!-- wp:caes-hub/action-print /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"metadata":{"name":"caes-hub-content-f-img"},"className":"caes-hub-content-f-img","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
                <div class="wp-block-group caes-hub-content-f-img" style="margin-top:var(--wp--preset--spacing--60)">
                    
                    <!-- wp:columns {"style":{"spacing":{"blockGap":"0"}}} -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"verticalAlignment":"center"} -->
                        <div class="wp-block-column" style="background:#333; color:#fff; display: flex; align-items: center;">
                            <!-- Inner div with padding and border-box styling -->
                            <div style="padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--60); box-sizing: border-box; width: 100%;">
                                <!-- wp:caes-hub/event-details-date {"name":"caes-hub/event-details-date","data":{},"mode":"preview"} /-->

                                <!-- wp:post-title {"textAlign":"left"} /-->

                                <!-- wp:caes-hub/event-details-register {"name":"caes-hub/event-details-register","data":{},"mode":"preview"} /-->

                                <!-- wp:caes-hub/event-details-location-snippet {"name":"caes-hub/event-details-location-snippet","data":{},"mode":"preview"} /-->
                            </div>       
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column">
                            <!-- wp:caes-hub/event-details-featured-image {"name":"caes-hub/event-details-featured-image","data":{},"mode":"preview"} /-->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"metadata":{"name":"caes-hub-content-post"},"className":"caes-hub-content-post","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
                <div class="wp-block-group caes-hub-content-post" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">

                    <!-- wp:heading {"className":"is-style-caes-hub-section-heading"} -->
                    <h2 class="wp-block-heading is-style-caes-hub-section-heading">Event Details</h2>
                    <!-- /wp:heading -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column -->
                        <div class="wp-block-column"><!-- wp:caes-hub/event-details-date-time {"name":"caes-hub/event-details-date-time","data":{},"mode":"preview"} /--></div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column"><!-- wp:caes-hub/event-details-location {"name":"caes-hub/event-details-location","data":{},"mode":"preview"} /--></div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column"><!-- wp:caes-hub/event-details-online-location {"name":"caes-hub/event-details-online-location","data":{},"mode":"preview"} /--></div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column -->
                        <div class="wp-block-column"><!-- wp:caes-hub/event-details-cost {"name":"caes-hub/event-details-cost","data":{},"mode":"preview"} /--></div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column"><!-- wp:caes-hub/event-details-parking {"name":"caes-hub/event-details-parking","data":{},"mode":"preview"} /--></div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column"><!-- wp:caes-hub/event-details-documents {"name":"caes-hub/event-details-documents","data":{},"mode":"preview"} /--></div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column -->
                        <div class="wp-block-column"><!-- wp:caes-hub/event-details-contact {"name":"caes-hub/event-details-contact","data":{},"mode":"preview"} /--></div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column"></div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column"></div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"caes-hub-content-footer"},"className":"caes-hub-content-footer","layout":{"type":"default"}} -->
            <div class="wp-block-group caes-hub-content-footer">

                <!-- wp:heading {"className":"is-style-caes-hub-section-heading"} -->
                <h2 class="wp-block-heading is-style-caes-hub-section-heading">Upcoming Events</h2>
                <!-- /wp:heading -->

                <!-- wp:caes-hub/event-block {"name":"caes-hub/event-block","data":{},"mode":"preview"} /-->
            </div>
            <!-- /wp:group -->
        </main>
        <!-- /wp:group -->

        <!-- wp:template-part {"slug":"footer","theme":"wp-theme-hub-2025"} /-->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->