.event-registration-button {
    background: var(--wp--preset--color--base);
    color: var(--wp--preset--color--contrast) !important;
    display: inline-block;
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--60);
    border-radius: 20rem;
    text-decoration: none;
    font-weight: 600;
}