/**
 * Frontend styles for the User Education block.
 */

.wp-block-caes-hub-user-education {

	&__heading {
		margin: 0;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--20, 0.5rem);
	}

	&__degree {
		margin: 0;
	}
}
