/**
 * Frontend styles for the User About block.
 */

.wp-block-theme-user-about {

	&__content {

		> *:first-child {
			margin-block-start: 0;
		}

		> *:last-child {
			margin-block-end: 0;
		}
	}
}