/**
 * Frontend styles for the User About block.
 */

.wp-block-caes-hub-user-about {

	&__heading {
		margin: 0;
	}

	&__content {

		> *:first-child {
			margin-block-start: 0;
		}

		> *:last-child {
			margin-block-end: 0;
		}
	}
}