.wp-block-caes-hub-pub-details-translation-link {
    .button {
        background-color: var(--wp--preset--color--base);
        border: 1px solid var(--wp--preset--color--bulldog-red);
        border-radius: 20rem;
        color: var(--wp--preset--color--contrast);
        display: inline-block;
        padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
        text-decoration: none;
        line-height: 1;
        font-size: var(--wp--preset--font-size--normal);
        transition: all 0.1s ease-in-out;
        &:hover,
        &:focus {
            background-color: var(--wp--preset--color--bulldog-red);
            color: var(--wp--preset--color--base);
        }
    }
}