@use 'main.scss' as *;

/* Blocks */

figure.alignleft {
    margin-inline-start: calc( ( 100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
}
figure.alignright {
    margin-inline-end: calc( ( 100% - var(--wp--style--global--content-size)) / 2 - var(--wp--preset--spacing--70));
}

/* Custom Styles for Blocks */

.is-style-caes-hub-red-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--wp--preset--color--bulldog-red);
    border-radius: 20rem;
    line-height: 1rem;
    transition: all 0.1s ease-in-out;
    background-color: var(--wp--preset--color--base);

    .wp-block-button__link {
        transition: all 0.1s ease-in-out;
    }
    &:hover {
        background-color:  var(--wp--preset--color--bulldog-red);
        .wp-block-button__link {
            color: var(--wp--preset--color--base);
        }
    }
}

.is-style-caes-hub-black-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--wp--preset--color--contrast-two);
    border-radius: 20rem;
    line-height: 1rem;
    transition: all 0.1s ease-in-out;
    .wp-block-button__link {
        transition: all 0.1s ease-in-out;
    }
    &:hover {
        background-color:  var(--wp--preset--color--contrast-two);
        .wp-block-button__link {
            color: var(--wp--preset--color--base);
        }
    }
}

ul.is-style-caes-hub-list-none {
    padding-inline-start: 0;
    list-style: none;
}

.is-style-caes-hub-bell {
    .wp-block-button__link {
        &::before {
            mask-image: url('../../assets/images/bell.svg');
        }
    }
}

/* CAES Hub Footer */

.caes-hub-footer-logo {
    max-width: 200px;
}

/* Action buttons */

.caes-hub-action-save__button {
    &::before {
        mask-image: url('../../assets/images/bookmark.svg');
    }
}

.caes-hub-action-share__button {
    &::before {
        mask-image: url('../../assets/images/share.svg');
    }
}

.caes-hub-action-print__button {
    &::before {
        mask-image: url('../../assets/images/print.svg');
    }
}

.caes-hub-action-ics__button {
    &::before {
        mask-image: url('../../assets/images/ics.svg');
    }
}

.caes-hub-content-actions {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    &.caes-hub-content-actions-in-body {
        position: unset !important;
        // position: absolute !important;
    }
}

.caes-hub-main-bg {
    position: absolute !important;
}
