body.login h1 a {
    background-image: url('../images/caes-logo-horizontal.png') !important;
    background-size: contain !important;
    width: 100% !important;
    height: 100px !important;
}

body.login .button-cas {
    background: #BA0C2F !important;
    border: none !important;
}