body.login h1 a {
    background-image: url('../images/caes-logo-horizontal.png') !important;
    background-size: contain !important;
    width: 100% !important;
    height: 100px !important;
}

body.login .button-cas {
    background-color: #BA0C2F;
    border-color: #BA0C2F;
    color: #fff;
    padding-top: 0;
    padding: 0.3rem;
    height: auto;

    &:hover {
        background-color: #8a0923 !important;
        border-color: #8a0923 !important;
    }

    // .dashicons {
    //     display: none;
    // }
    // .label {
    //     padding-left: 0;
    // }
}

#loginform .button-external {
    padding-top: 0;
}

#modebar {
    padding: 0.8rem;
    text-align: center;
    background-color: #135e96;
    margin: 1rem 0;
    color: white;
    border-radius: 0.2rem;
}