.wp-block-caes-hub-pub-details-authors {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--30);

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .pub-authors-snippet-prefix {
        font-size: 0.9em;
    }

    .pub-authors-wrap {
        display: flex;
        flex-direction: column;
        gap: var(--wp--preset--spacing--40);
    }

    .pub-authors-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--wp--preset--spacing--50);

        .pub-author-name {
            font-size: var(--wp--preset--font-size--medium);
        }

        .pub-author-title {
            margin: 0;
        }
    }

    &.is-style-caes-hub-compact {
        position: relative;
        border: 1px solid var(--wp--preset--color--contrast-two);
        padding: var(--wp--preset--spacing--50);
        margin-top: calc(var(--wp--style--block-gap) + var(--wp--preset--spacing--20));
        .pub-authors-heading {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 0;
            left: 50%;
            white-space: nowrap;
            background: var(--wp--preset--color--base);
            font-family: var(--wp--preset--font-family--oswald);
            font-size: 19px !important;
            font-weight: 400;
            padding: 0 var(--wp--preset--spacing--20);
            text-transform: uppercase;
        }
    }

}

@media screen and (max-width: 781px) {
    .wp-block-caes-hub-pub-details-authors .pub-authors-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media print {
    .wp-block-caes-hub-pub-details-authors.has-background {
        padding: 0 !important;
    }
}