.wp-block-caes-hub-hand-picked-post {
    .hand-picked-post-empty {
        padding: 1rem;
        border: 2px dashed var(--wp--preset--color--contrast-two);
        background-color: var(--wp--preset--color--base);
    }
}